/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    color: #000;
    font:100%/1.5em Arial, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#wrapper{
    margin: 0 auto;
    width: 100%;
}
header{
    width:100%;
    background-color: #323232;
    height: 63px;   
    position: relative;
}
.logo{
    left: 50%;
    position: absolute;
    margin-left: -75px;
}

.centeredmenu {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
}
.centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    position:relative;
    left:50%;
    text-align:center;
}
.centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    position:relative;
    right:50%;
    margin: 24px 25px 0 0;
    font-size:0.6em; 
}
.centeredmenu ul li a {  
    display:block;    
    text-decoration:none;   
    color: #fff;
    font-family: 'Lato', arial;
}

.centeredmenu .indent{
    margin-left: 117px;
}

.centeredmenu ul li a:hover{
    color: #2f917d;
}
#main{
    max-width: 1020px;
    margin: 0 auto;
}
.gallery{ 
    margin: 90px 5px 82px;  
    overflow: hidden;
}
#main ul li a img{
    max-width: 100%;
    height: auto;
}
.gallery li .inviz{
    float: left;
    margin: 0 15px 0; 
    display: none;
}
.container{
    background-color: #2eb398;
    color: #fff;
    overflow: hidden;
}
.center{
    max-width: 1020px;
    margin: 0 auto;
}
.container .center img{
    max-width: 100%;
}
.foto{
    float: left;
    margin: 2px 20px 0 105px

}
.about_him{
    margin: 65px 120px 20px 0;
}
.about_him h1{
    font: 1.9em 'Lato', sans-serif;
    line-height: 0.8;
}
.about_him h2{
    font: 1.1em 'Lato', sans-serif;
    color: #20816d;
    margin-bottom: 15px;
}
.about_him p{
    font: 0.7em 'Lato', sans-serif;
    line-height: 1.9;
}
.socials{
    float: right;
    margin: 38px 14px 61px 0;
}
.socials li{
    float: left;
}
.wrap{
    background-color: #323232;
    height: 565px;
    color: #fff;
}
.form-holder{
    max-width:810px;
    margin: 0 auto;
    font: 1em 'Lato', sans-serif;
}
.conteiner_form{
    width: 72%;
    float: left;
}
.contact{
    width: 27%;
    float: right;
}
input[type="text"]{
    background-color: #454545;
    width: 550px;
    height: 50px;
    border: none;
    color:#fff;
    margin: 10px;
}
textarea{
    background-color: #454545;
    width: 550px;
    height: 250px;
    border: none;
    color:#fff;
    margin: 10px;
}